<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <description>
		</description>
        <display-name>AddNewMovieFormController</display-name>
        <servlet-name>AddNewMovieFormController</servlet-name>
        <servlet-class>com.cognizant.controller.AddNewMovieFormController</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>AddNewMovieOperatorFormController</display-name>
        <servlet-name>AddNewMovieOperatorFormController</servlet-name>
        <servlet-class>com.cognizant.controller.AddNewMovieOperatorFormController</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>BookTicketFormController</display-name>
        <servlet-name>BookTicketFormController</servlet-name>
        <servlet-class>com.cognizant.controller.BookTicketFormController</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>CancelTicketFormController</display-name>
        <servlet-name>CancelTicketFormController</servlet-name>
        <servlet-class>com.cognizant.controller.CancelTicketFormController</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>ChangePasswordFormController</display-name>
        <servlet-name>ChangePasswordFormController</servlet-name>
        <servlet-class>com.cognizant.controller.ChangePasswordFormController</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>DeleteMovieOperatorFormController</display-name>
        <servlet-name>DeleteMovieOperatorFormController</servlet-name>
        <servlet-class>com.cognizant.controller.DeleteMovieOperatorFormController</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>DeleteUserFormController</display-name>
        <servlet-name>DeleteUserFormController</servlet-name>
        <servlet-class>com.cognizant.controller.DeleteUserFormController</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>EditMovieDetailsFormController</display-name>
        <servlet-name>EditMovieDetailsFormController</servlet-name>
        <servlet-class>com.cognizant.controller.EditMovieDetailsFormController</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>EditProfileFormController</display-name>
        <servlet-name>EditProfileFormController</servlet-name>
        <servlet-class>com.cognizant.controller.EditProfileFormController</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>GetAddedMovieController</display-name>
        <servlet-name>GetAddedMovieController</servlet-name>
        <servlet-class>com.cognizant.controller.GetAddedMovieController</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>GetAddedMovieesController</display-name>
        <servlet-name>GetAddedMovieesController</servlet-name>
        <servlet-class>com.cognizant.controller.GetAddedMovieesController</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>GetBookingHistoryController</display-name>
        <servlet-name>GetBookingHistoryController</servlet-name>
        <servlet-class>com.cognizant.controller.GetBookingHistoryController</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>GetBookingInformationController</display-name>
        <servlet-name>GetBookingInformationController</servlet-name>
        <servlet-class>com.cognizant.controller.GetBookingInformationController</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>GetMovieBookingController</display-name>
        <servlet-name>GetMovieBookingController</servlet-name>
        <servlet-class>com.cognizant.controller.GetMovieBookingController</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>LoginFormController</display-name>
        <servlet-name>LoginFormController</servlet-name>
        <servlet-class>com.cognizant.controller.LoginFormController</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>SearchMovieFormController</display-name>
        <servlet-name>SearchMovieFormController</servlet-name>
        <servlet-class>com.cognizant.controller.SearchMovieFormController</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>DeleteMovieDetailsController</display-name>
        <servlet-name>DeleteMovieDetailsController</servlet-name>
        <servlet-class>com.cognizant.controller.DeleteMovieDetailsController</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>RegisterUserController</display-name>
        <servlet-name>RegisterUserController</servlet-name>
        <servlet-class>com.cognizant.controller.RegisterUserController</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>ForgotPasswordController</display-name>
        <servlet-name>ForgotPasswordController</servlet-name>
        <servlet-class>com.cognizant.controller.ForgotPasswordController</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>DeleteMovieOperatorByAdminController</display-name>
        <servlet-name>DeleteMovieOperatorByAdminController</servlet-name>
        <servlet-class>com.cognizant.controller.DeleteMovieOperatorByAdminController</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>LogoutFormController</display-name>
        <servlet-name>LogoutFormController</servlet-name>
        <servlet-class>com.cognizant.controller.LogoutFormController</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>PrintTicketController</display-name>
        <servlet-name>PrintTicketController</servlet-name>
        <servlet-class>com.cognizant.controller.PrintTicketController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddNewMovieFormController</servlet-name>
        <url-pattern>/AddNewMovieFormController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewMovieOperatorFormController</servlet-name>
        <url-pattern>/AddNewMovieOperatorFormController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookTicketFormController</servlet-name>
        <url-pattern>/BookTicketFormController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelTicketFormController</servlet-name>
        <url-pattern>/CancelTicketFormController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordFormController</servlet-name>
        <url-pattern>/ChangePasswordFormController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMovieOperatorFormController</servlet-name>
        <url-pattern>/DeleteMovieOperatorFormController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserFormController</servlet-name>
        <url-pattern>/DeleteUserFormController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMovieDetailsFormController</servlet-name>
        <url-pattern>/EditMovieDetailsFormController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileFormController</servlet-name>
        <url-pattern>/EditProfileFormController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAddedMovieController</servlet-name>
        <url-pattern>/GetAddedMovieController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAddedMovieesController</servlet-name>
        <url-pattern>/GetAddedMovieesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBookingHistoryController</servlet-name>
        <url-pattern>/GetBookingHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBookingInformationController</servlet-name>
        <url-pattern>/GetBookingInformationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMovieDetailsController</servlet-name>
        <url-pattern>/DeleteMovieDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMovieBookingController</servlet-name>
        <url-pattern>/GetMovieBookingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginFormController</servlet-name>
        <url-pattern>/LoginFormController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchMovieFormController</servlet-name>
        <url-pattern>/SearchMovieFormController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterUserController</servlet-name>
        <url-pattern>/RegisterUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordController</servlet-name>
        <url-pattern>/ForgotPasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMovieOperatorByAdminController</servlet-name>
        <url-pattern>/DeleteMovieOperatorByAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutFormController</servlet-name>
        <url-pattern>/LogoutFormController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintTicketController</servlet-name>
        <url-pattern>/PrintTicketController</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>welcome.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
</web-app>
